.bgs {
  background-color: aqua;
}

#sponsors{
  display: inline-block;
  text-align: center;
}

.sponsor{
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

.sponsor-item {
  flex-basis: 100%;
  margin: 10px
}

.tier2 {
  display: flex;
}

